body {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Arial';
    background-color: azure;
}

canvas {
    align-self: center;
}

#item-control {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 30px;
}

#item1 {
    background-color: rgb(255, 190, 233);
}

#item2 {
    background-color: rgb(255, 251, 173);
}

#item3 {
    background-color: rgb(163, 249, 255);
}

#description {
    background-color: rgb(255, 210, 166);
    font-family:'Comic Sans MS';
}

#global-control {
    background-color: aquamarine;
}

table {
    width: 100%;
    table-layout: fixed;
}

input {
    width: 100%;
}

select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
}

p {
    font-family: 'papyrus';
}

.itemtitle {
    margin: 5px;
    font-size: 20px;
    font-family:'Comic Sans MS';
    text-align: center;
}

.colorbackground {
    border-radius: 5px;
}

#descriptionList {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    border-radius: 5px;
    background-color: #34ff5c;
    border: none;
}

#danceButton {
    align-self: center;
    background-color: #2f00ff; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-family:'Comic Sans MS';
}